<div class="card" style='text-align: center; background: linear-gradient(to right, #dff2fd, #d1f4e0); padding: 1rem; border-radius: 10px;'>
    <h2 style="color: black; font-family: 'Roboto', sans-serif; font-weight: 700;">
        <img src="https://i.ibb.co/wNLf7hDj/Screenshot-2025-04-12-210441-removebg-preview.png"
             width="50" alt="Logo" style="vertical-align: middle; margin-right: 10px;">
        Stock Sentiment Analyzer
    </h2>
    <p style='color: #333; font-size: 0.9rem;'>Visualize market sentiment, headlines, and performance trends all in one place.</p>
</div>
